extends layout_detail
include mixins

block content
    #content_box
        #main_content_box
            #main_detail_box
                a(href='javascript:void(0);')#addBasket_img
                    img(src="" width="300px" height="435px")#main_detail_image
                img(src="images/basket_add.png")#basket_add_button
                #main_detail_text
                    #main_detail_text_name.main_content_box
                        p.name_name="카드 이름"
                        p#card_detail_name="card name"
                    #main_detail_text_info.main_content_box
                        p.name_name="카드 정보"
                        p#card_detail_info.card_detail_box_text="card info"
                    #main_detail_text_price.main_content_box
                        p.name_name="카드 가격"
                        #detail_line
                        #in_detail_box
                            #detail_box1 
                                p.low_text="최저가"
                                - for (var i = 0; i < 10; i++)
                                    a.detail_price(href='#')='linkList'
                            #detail_box2
                                p#low_price="₩ 0"
                                - for (var i = 0; i < 10; i++)
                                    p.detail_price='priceList'
                        
                        //- p#low_text="최저가"
                        //- p#card_detail_low.card_detail_box_text="card low"
                        //- p#card_detail_price.card_detail_box_text="card price"
            #main_same_name
                p#main_same_name_title="같은 이름 카드"
                #same_name_box
                    - for (var i = 0; i < 100; i++)
                        +same_name("#", "김치", "", "code_123", false)
                