footer
    p.footer_text= "도비마켓"
    .developer_intro
        #dobi
            p.footer_small_text= "백엔드 개발자 : 김동현"
            p.footer_small_text= "연락처 : 010-9044-1912"
            p.footer_small_text= "이메일 : "
            p.footer_small_text= "asdzxcv37@naver.com"
        #woo
            p.footer_small_text= "프론트 개발자 : 우상원"
            p.footer_small_text= "연락처 : 010-2971-5953"
            p.footer_small_text= "이메일 : "
            p.footer_small_text= "yuyu0830@naver.com"

#basket
    a(href='javascript:void(0);' onclick="basket();")#basket_button
        img(src="images/option_up.png" width="32px" height="18px")#basket_button_img
    #basket_inner
        #basket_cards
            - for (var i = 0; i <= 100; i++)
                +card_basket(i)
                //- 이미지 링크 복구하기

        #basket_recipt
            #basket_list
                p#receipt_title= "목록"
                .basket_line
                .receipt_list
                    - for (var i = 0; i <= 100; i++)
                        +card_list()

            #basket_total
                p#receipt_total_title= "합계"
                .basket_line
                #receipt_total_slot
                    p#receipt_total_count= "총 0개"
                    p#receipt_total_sum= "₩ 0"