include mixins
#wrap
    #curtain(href='javascript:void(0);' onclick='basket();')
    #header
        #header_inner
            a(href='/')#logo
                img(src="" width="160px" height="120px")
                //- 이미지 링크 복구하기
            #search_bar
                input(type="text" name="title" spellcheck="false" onKeypress="javascript:if(event.keyCode==13) {searchFunc();}")
                a(href='javascript:void(0);' onclick="searchFunc();")#search_image
                    img(src="/images/search.png")
                    //- 이미지 링크 복구하기
                ul#recent_search
                    li#recent_title.recent_history= "최근 검색 목록    |    "
                    li.recent_history= "!"
                    li.recent_history= "!"
    #nav
        #nav_inner
            -var item_list = ['카테고리', 'DB', '덱', '공지사항', '마이페이지']
            each index in item_list 
                .nav_box
                    li= index
            #category
                #category1.cate_box
                    - for (var i = 0; i < 10; i++)
                        li.cate_box_li(onmouseenter="setCategory(" + i + ", -1)")= "list"
                #category2.cate_box
                    - for (var i = 0; i < 10; i++)
                        li.cate_box_li(onmouseenter="setCategory(-1, " + i + ")")= "list"
                #category3.cate_box
                    - for (var i = 0; i < 10; i++)
                        li.cate_box_li= "list"