mixin card_main(link, img_link, name, price, pop, stock)
    a.card_slot(href=link)
        img(src=img_link width="100px" height="144px").card_img
        .card_name= name
        .card_price= price
        .icon_slot
            if pop
                img(src="images/icon_pop.png" width="50" height="25")
            if stock
                img(src="images/icon_no_stock.png" width="50" height="25" )
    //- 추후 스크립트 짤때 구조체로 변경

mixin card_basket(link, img_link, name, price)
    a.basket_card_slot(href=link)
        img(src=img_link width="80px" height="116px").card_img
        .basket_card_name= name
        .basket_card_price= price