extends layout_search

block content
    #search_content
        #search_option
            #option_title
                p#option_title_text= "검색 옵션"
            #option_contents
                form
                    label(for="sort")#option_sort.option_select= "정렬"
                        select(id="sort" name="sort")
                            option(value="1")= "인기순"
                            option(value="2")="낮은 가격순"
                            option(value="3")="높은 가격순"
                    label(for="list_count")#option_count.option_select= "목록"
                        select(id="list_count" name="list_count")
                            option(value="10")= "10개"
                            option(value="15")= "15개"
                            option(value="20")= "20개"
                            option(value="25")= "25개"
                            option(value="30")= "30개"
                    label.search_option_list
                        input(type="checkbox" name="option" value="01" checked)
                        p.option_text="재고 없음 표시"
                    label.search_option_list
                        input(type="checkbox" name="option" value="02")
                        p.option_text="중고 상품 포함"
        #search_line
        #search_result
            #current_search
                p#current_search_result=""
                p#current_search_text="검색결과"
            .search_list_line
            p#empty_search_page="검색 결과가 없습니다."
            - for (var i = 0; i <= 30; i++)
                +search_list()
            #search_list_page
                #search_list_page_center
                    a(href="javascript:void(0);" onclick="pageLayerChange(0);")
                        img(src="/images/arrow_left.png")#left_arrow
                    p.search_list_page_line= "|"
                    -for (var i = 1; i <= 10; i++)
                        a.search_list_page_link(href="#")= i
                        p.search_list_page_line= "|"
                    a(href="javascript:void(0);" onclick="pageLayerChange(1);")
                        img(src="/images/arrow_right.png")#right_arrow